<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.ldapsample/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://com.company.ldapsample.screen.user/UserBrowse.caption"/>
    </menu>

</menu-config>